.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        あああ
      %ul.main-header__left-box__memberlist
        Member:
        %li.main-header__left-box__memberlist__member
          kimi
    = link_to "#", class:"edit-btn" do
      Edit

  .messages
    .message
      .message__info
        %p.message__info__name
          kimi
        %p.message__info__date
          2020/01/17(Fri) 10:17:25
      %p.message__text
        いいい

  .form
    %form.new-message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn", value: "Send"}
